input[disabled] {
    background-color: transparent;
    border: none;
}
a{
    text-decoration: none;
    color: #818181;
}
.loginBtn{
    font-size: 110%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    float: right;
    margin-top: 30px;
    text-decoration: none;
    background-color: #dddddd;
    margin-right: 10px;
    color: #989898;
    transition: all 0.1s;
    border: 1px solid #dddddd;
}
.loginBtn:hover,
.loginBtn:focus{
    cursor: pointer;
    color: #ffffff;
    background-color: #414141;
    border-color: #414141;
}
.title_page_wrap{
    margin: 10px 0px;
    font-size: 150%;
    font-weight: 600;
    color: #414141;
}
.myMediumBtn{
    background-color: #dddddd;
    color: #989898;
    height: 35px;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.loginBlock{
    width: 300px;
    margin: 20px auto;
}
.result{
    text-align: center;
}
.td_min_width{
    min-width: 200px;
}
.requiredFiled{
    color: red;
    font-size: 180%;
}
.headInfo{
    overflow: hidden;
}
.leftBlockInfo{
    float: left;
}
.nameCourseInfo{
    margin-bottom: 0px;
}
.teacherCourseInfo{
    margin: 0px;
    font-size: 14px;
}
.rightBlockInfo{
    float: right;
}
.calendar{
    overflow: hidden;
    border-radius: 20px;
    margin-top: 40px;
}
.pageCalendar{
    float: left;
    text-align: center;
    padding: 10px;
}
.separator{
    float: left;
    margin: 8px 10px;
    font-size: 20px;
}
.description{
    border: 1px solid #a99898;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
.description textarea{
    width: 100%;
    border: none;
}
.deleteAccount{
    color: red;
    margin-top: 10px;
}